540co/xml-tools/tests/data/simple-content-attributes.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="article" type="ArticleType"/>

  <xs:complexType name="ArticleType">
    <xs:sequence>
      <xs:element name="title" type="xs:string"/>
      <xs:element name="body" type="ArticleTextType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ArticleTextType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="language" type="xs:string"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>
